<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<h1 class="faq-header">Veelgestelde Vragen</h1>

<div class="faq-section">
    <div class="faq-item">
        <h2 class="faq-question">Wat is het doel van JurisAnalyser?</h2>
        <div class="faq-answer">
            <p>JurisAnalyser is ontworpen om Nederlandse jurisprudentie effectief te doorzoeken. JurisAnalyser maakt het mogelijk om te zoeken naar zowel woorden als betekenis. Zoekresultaten kunnen eenvoudig worden doorzocht en opgeslagen wat resulteert in een efficiënte workflow.</p>
        </div>
    </div>
    
    <div class="faq-item">
        <h2 class="faq-question">Hoe werkt JurisAnalyser?</h2>
        <div class="faq-answer">
            <p>JurisAnalyser werkt door rechtspraak van Rechtspraak.nl te uploaden op basis van ECLI-nummers. Zoekopdrachten kunnen worden uitgevoerd met woorden en geavanceerde AI-technieken voor het zoeken naar semantiek:</p>
            <ul>
                <li>Gebruikers hoeven niet elk jurisprudentiedocument te openen; de relevante paragrafen zijn direct zichtbaar.</li>
                <li>De relevante paragrafen kunnen worden opgeslagen in een Excel-bestand voor systematische analyse.</li>
                <li>Een link naar de originele jurisprudentie wordt verstrekt als verdere validatie of context nodig is.</li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">Hoe upload ik ECLIs voor mijn analyse?</h2>
        <div class="faq-answer">
            <p>Om de ECLIs te uploaden, ga naar de 'Upload'-pagina die volgt op de 'Home'-pagina, selecteer het Excel-bestand met ECLIs en klik op 'Upload'. Het document wordt verwerkt en de inhoud wordt geanalyseerd op basis van de zoekopdrachten. Hier is een sjabloon voor een Excel-bestand om te uploaden:</p>
            <p><a href="{{ url_for('download_template') }}">Download Excel-sjabloon</a></p>
        </div>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">Hoe wordt de rechtspraak van Rechtspraak.nl verzameld?</h2>
        <div class="faq-answer">
            <p>De tool gebruikt de API (Application Programming Interface) van rechtspraak.nl om gegevens op te halen voor elke ECLI die in het geüploade Excel-bestand is vermeld. Deze gegevens worden vervolgens opgeslagen in de database voor analyse. Het API-verzoek haalt XML-gegevens op, die worden geparsed en verwerkt voor verder gebruik.</p>
        </div>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">Hoe kan ik de resultaten bekijken?</h2>
        <div class="faq-answer">
            <p>Nadat de ECLIs zijn geüpload en een zoekopdracht is ingevoerd, worden de resultaten meteen op het scherm getoond. Hier kan door de gevonden resultaten worden gebladeren. De zoekresultaten kunnen worden opgeslagen in een Excel-bestand.</p>
        </div>
    </div>
    
    <div class="faq-item">
        <h2 class="faq-question">Hoe zorgt JurisAnalyser voor goede zoekresultaten?</h2>
        <div class="faq-answer">
            <ul>
                <li>JurisAnalyser haalt de gegevens direct op van Rechtspraak.nl, wat ervoor zorgt dat de informatie up-to-date en betrouwbaar is.</li>
                <li>Alle resultaten worden direct afgeleid van paragrafen van de geëxtraheerde zaken.</li>
                <li>JurisAnalyser is volledig open source. Alle code waarop JurisAnalyser is gebouwd, inclusief de zoekmethoden, is volledig transparant. Zie https://github.com/HanSoloGit/JurisAnalyser/</li>
            </ul>
        </div>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">Wat moet ik doen als ik problemen tegenkom bij het gebruik van JurisAnalyser?</h2>
        <div class="faq-answer">
            <p>Als er problemen zijn, neem dan contact met ons op via de 'Contact'-pagina. We helpen graag verder.</p>
        </div>
    </div>
</div>

<style>
    .faq-section {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .faq-section h1 {
        text-align: center;
        margin-bottom: 40px;
    }
    .faq-item {
        margin-bottom: 20px;
    }
    .faq-question {
        margin: 0;
        padding: 10px;
        cursor: pointer;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: left; /* Zorg ervoor dat de vragen links zijn uitgelijnd */
    }
    .faq-answer {
        display: none;
        padding: 10px;
        border-left: 3px solid #3498db;
        margin-top: 10px;
        background-color: #fafafa;
        border-radius: 5px;
        text-align: left; /* Zorg ervoor dat de antwoorden links zijn uitgelijnd */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const questions = document.querySelectorAll('.faq-question');
        questions.forEach(question => {
            question.addEventListener('click', function() {
                const answer = this.nextElementSibling;
                if (answer.style.display === 'block') {
                    answer.style.display = 'none';
                } else {
                    answer.style.display = 'block';
                }
            });
        });
    });
</script>

{% endblock %}
