{% extends 'base.html' %}

{% block title %}Privacybeleid{% endblock %}

{% block content %}
<h1>Privacybeleid</h1>

<p>Welkom bij het privacybeleid van JurisAnalyser</p>

<h2>Welke gegevens verzamelen we?</h2>
<ul>
    <li><strong>Sessiegegevens:</strong> We gebruiken sessies om tijdelijke gegevens op te slaan tijdens uw bezoek aan onze website. Dit kan informatie bevatten zoals uw zoekopdrachten en voorkeuren.</li>
    <li><strong>Cookies:</strong> Onze website gebruikt cookies om informatie op te slaan over uw voorkeuren en om uw ervaring te verbeteren. Cookies helpen ons bijvoorbeeld om uw zoekvoorkeuren op te slaan en de efficiëntie van onze site te analyseren.</li>
    <li><strong>Bestanden die u uploadt:</strong> Als u bestanden uploadt (zoals Excel-bestanden met ECLI's), worden deze bestanden tijdelijk opgeslagen om de gewenste analyses uit te voeren. Deze bestanden worden niet permanent bewaard en worden verwijderd na verwerking.</li>
    <li><strong>Logbestanden:</strong> We kunnen informatie verzamelen die uw browser verzendt wanneer u onze website bezoekt. Deze logbestanden kunnen gegevens bevatten zoals uw IP-adres, browsertype, browserversie, de pagina's van onze website die u bezoekt, de tijd en datum van uw bezoek, de tijd die u op die pagina's doorbrengt, en andere statistieken.</li>
</ul>

<h2>Waarom verzamelen we deze gegevens?</h2>
<p>We verzamelen deze gegevens om de volgende redenen:</p>
<ul>
    <li>Om uw ervaring op onze website te verbeteren.</li>
    <li>Om onze diensten aan te passen op basis van uw voorkeuren en eerdere interacties.</li>
    <li>Om het gebruik van de website te analyseren en te begrijpen, zodat we onze diensten kunnen verbeteren.</li>
</ul>

<h2>Hoe gebruiken we cookies?</h2>
<p>Cookies zijn kleine tekstbestanden die op uw apparaat worden geplaatst om ons te helpen uw ervaring op onze website te verbeteren. We gebruiken cookies om:</p>
<ul>
    <li>Uw voorkeuren en instellingen te onthouden.</li>
    <li>Te herkennen wanneer u terugkeert naar onze website.</li>
    <li>Het gebruik en de prestaties van onze website te analyseren.</li>
</ul>
<p>U kunt uw browserinstellingen aanpassen om cookies te weigeren of om u te waarschuwen wanneer cookies worden verzonden. Als u ervoor kiest om cookies uit te schakelen, kan dit invloed hebben op uw gebruik van bepaalde delen van onze website.</p>

<h2>Contact</h2>
<p>Als u vragen heeft over dit privacybeleid of onze gegevensverwerkingspraktijken, kunt u contact met ons opnemen via de contactpagina op deze website.</p>

{% endblock %}
